<ion-view view-title="Dashboard">
  <ion-tabs class="tabs-positive  tabs-icon-top">

    <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
      <ion-content>
        <h1>Browse</h1>
      </ion-content>
    </ion-tab>

    <ion-tab title="Social Marketing" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
      <!-- Tab 2 content -->
    </ion-tab>

    <ion-tab title="Social Inbox" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
      <!-- Tab 3 content -->
    </ion-tab>

    <ion-tab title="Connection Center" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
      <!-- Tab 3 content -->
    </ion-tab>

  </ion-tabs>

</ion-view>
