<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <!--<ion-nav-buttons side="left">-->
        <!--<h5 class="ch-nav-header-title">BMW <br> DENMARK</h5>-->
      <!--</ion-nav-buttons>-->

      <ion-nav-buttons side="left">
        <button class="button button-icon icon-right button-clear ion-navicon menu-label-toggle" menu-toggle="left" translate="homePage.menu"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">MENU</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item>Social Media</ion-item>
        <ion-item>Email Marketing</ion-item>
        <ion-item>User Behaviour</ion-item>
        <ion-item>Landing Pages</ion-item>
        <ion-item>Analytics</ion-item>
        <ion-item>Add-on Center</ion-item>
        <ion-item>Settings</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>



